[user]
	name = matt-dong-123
	email = bruckheim@proton.me

[core]
	editor = vim
    pager = delta --syntax-theme="tokyonight_moon"

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    side-by-side = true

[merge]
    conflictStyle = zdiff3
	tool = nvimdiff

[init]
	defaultBranch = main

[color]
	ui = true

[fetch]
	auto = true

[push]
	default = simple
