[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/tmux/.config/tmux/plugins/tmux-fingers"]
	path = .config/tmux/.config/tmux/plugins/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers
[submodule ".config/tmux/plugins/tmux-fingers"]
	path = .config/tmux/plugins/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers
