.config/omacase/current
.config/nvim/lazy-lock.json
.config/nvim/lua/config/colorscheme.lua
.config/wezterm/theme.lua
.config/sketchybar/colors.lua
.config/btop/themes/current.theme
.config/bat/config
.config/yazi/theme.toml
AGENTS.md
.config/yazi/flavors
.config/yazi/plugins
.config/karabiner/automatic_backups
