name: Verify Setup
on: [push, pull_request]
jobs:
    verify:
        runs-on: macos-26
        steps:
            - uses: actions/checkout@v4
            - name: Install Xcode CLI Tools
              run: xcode-select -p || xcode-select --install
            - name: Install Homebrew
              run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" && brew analytics off
            - name: Install Brew Packages
              run: brew bundle install --file=.github/Brewfile
            - name: Install SBarLua
              run: |
                  if [ ! -d "$HOME/.local/share/sketchybar_lua/" ]; then
                    git clone https://github.com/FelixKratz/SbarLua.git /tmp/SbarLua &&
                    cd /tmp/SbarLua/ && make install && rm -rf /tmp/SbarLua/
                  fi
            - name: Stow Dotfiles
              run: |
                  rm $HOME/.bash_profile
                  cd $GITHUB_WORKSPACE && stow --target=$HOME .
            - name: Initialize Theme
              run: |
                  mkdir -p ~/.config/omacase/current
                  ln -snf ~/.config/omacase/themes/everforest/ ~/.config/omacase/current/theme
                  ln -snf ~/.config/omacase/current/theme/neovim.lua ~/.config/nvim/lua/config/colorscheme.lua
                  ln -snf ~/.config/omacase/current/theme/wezterm.lua ~/.config/wezterm/theme.lua
                  ln -snf ~/.config/omacase/current/theme/sketchybar.lua ~/.config/sketchybar/colors.lua
                  ln -snf ~/.config/omacase/current/theme/btop.theme ~/.config/btop/themes/current.theme
                  ln -snf ~/.config/omacase/current/theme/bat ~/.config/bat/config
                  ln -snf ~/.config/omacase/current/theme/yazi.toml ~/.config/yazi/theme.toml
                  jq -s '.[0] * .[1]' ~/.config/opencode/options.json ~/.config/omacase/current/theme/opencode_theme.json > ~/.config/opencode/opencode.json
                  yq ". *= load(\"$HOME/.config/lazygit/options.yml\")" ~/.config/omacase/current/theme/lazygit.yml > ~/.config/lazygit/config.yml
                  yq ". *= load(\"$HOME/.config/gh-dash/options.yml\")" ~/.config/omacase/current/theme/gh-dash.yml > ~/.config/gh-dash/config.yml
            - name: Install Extensions
              run: |
                  ya pkg install || true
                  gh extension install dlvhdr/gh-dash || true
            - name: Basic Config Validation
              run: |
                  nvim --version || true
                  tmux -V || true
                  wezterm --version || true
                  brew services list || true
